body {

	margin: 0;
	padding: 0;
	background-color: #FFF3E1;
}

.billing-shipping-container {
	text-align: center;
}

.address-container {

	border: 10px solid lightblue;
	width: 34%;
	min-width: 300px;
	/*height: 550px;*/
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	color: salmon;
	border-radius: 5px;
	font-family: Helvetica, arial;
	background: linear-gradient(45deg, #FFF3E1, salmon);
	display: inline-block;
	vertical-align: top;
}

.address-box {

	height: 30px;
}

.address-container input[type="text"], select {

	font-size: 20px;
	border: 2px solid salmon;
	border-radius: 5px;
	box-shadow: 2px 2px 2px salmon;
	margin:5px;
}

.address-container input[type="text"]:hover, select:hover {

	background-color: lightblue;
}

form button {

	/*border: 10px solid lightblue;
	width: 15%;
	min-width: 300px;
	height: 50px;
	margin: 10px;
	margin-top:20px;
	padding: 20px;
	font-size: 30px;
	color: salmon;
	border-radius: 5px;
	font-family: Helvetica, arial;
	background: linear-gradient(45deg, #FFF3E1, salmon);
	display: inline-block;
	vertical-align: top;*/

	color: salmon;
	font-size: 20px;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	margin-top: 20px;

}

#shipping-btn {

	margin-top: 55px;
}

form button:hover {
	background-color: lightblue;
}


.invalid {

	background-color: red;
}

.valid {
	background-color: green;
}


#billing-label, #shipping-label {

	/*font-size: 50px;*/
	text-decoration: underline;
	/*border: 1px solid black;
	margin: 10px;*/
}
















